{% extends "layouts/master.html" %} {% block content %}
<div id="header" class="container-fluid alter">
	<h1>{{heading}}</h1>
	<!-- <img class="img-fluid" src="/static/img/header.jpg" alt="Header"> -->
	<button class="btn btn-info" data-toggle="modal" data-target="#myModal">Mostrar comentarios</button>
	<div class="filter col-md-12">
		<form class="form-inline" action="" method="post">
			<label>Filtros: </label>
			<div class="col-md-3">
				<input class="form-control" type="text" name="name" value="{{valores.name}}" placeholder="Nombre">
			</div>
			<div class="col-md-3">
				<input class="form-control" type="text" name="damdef" value="{{valores.damdef}}" placeholder="{{ 'Defensa' if url=='/escudos' else 'Daño' }}">
			</div>
			<div class="col-md-3">
				<input class="form-control" type="text" name="durability" value="{{valores.durability}}" placeholder="Durabilidad">
			</div>
			<div class="col-md-1">
				<input class="btn btn-info" type="submit" value="Enviar">
			</div>
		</form>
	</div>
</div>
<div id="box" class="jumbotron">
	<div class="card-deck">
		{% for item in items %}
		<div class="col-sm-12 col-lg-6 col-xl-3">
			<div class="card">
				<img class="card-img-top" src="{{item.img}}" alt="Card image cap">
				<div class="card-block">
					<h6 class="card-title">{{item.name}}</h6> {% block card %} {% endblock %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Comentarios</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<ul class="list-unstyled">
						{% for comment in comments %}
						<li class="media">
							<img class="d-flex mr-3" src="{{comment.img}}" alt="Generic placeholder image">
							<div class="media-body">
								<h5 class="mt-0 mb-1">{{comment.user}} <small class="text-muted"><i>Añadido el {{comment.date}}</i></small></h5>
								<p>{{comment.message}}</p>
							</div>
						</li>
						{% endfor %}
					</ul>
					{% if sess.user %}
					<div class="container comment">
						<div class="col-md-8 offset-md-2">
							<div class="row">
								<h4>Publicar comentario</h4>
							</div>
							<div class="row">
								<div class="widget-area no-padding blank">
									<div class="status-upload">
										<form action="/insertcomment" method="POST">
											<textarea name="message" placeholder="¿En qué estás pensando?"></textarea>
											<input type="hidden" name="url" value="{{url}}">
											<button type="submit" class="btn btn-success green"><i class="fa fa-share"></i>Enviar</button>
										</form>
									</div>
									<!-- Status Upload  -->
								</div>
								<!-- Widget Area -->
							</div>
						</div>
					</div>
					{% endif %}
				</div>
				<div class="modal-footer">
					{% if sess.user %}
					<button id="toggleComment" type="button" class="btn btn-success">Desplegar comentario</button>
					{% endif %}
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	$('#toggleComment').click(function() {
		if ($(this).text() == 'Desplegar comentario') $(this).text('Cerrar comentario');
		else $(this).text('Desplegar comentario');
		$('.comment').toggleClass('visible');
	})
})
</script>
{% endblock %}
