{% extends "layouts/armas.master.html" %}
{% set url = '/armas-melee' %}
{% set heading = 'Armas cuerpo a cuerpo' %}
{% block card %}
	<div class="row">
		<div class="col-12 col-sm-6 col-md-6 col-lg-12 col-xl-6">
			<p class="card-text"><span>Daño:</span><br>{{item.damage}}</p>
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-12 col-xl-6">
			<p class="card-text"><span>Durabilidad:</span><br>{{item.durability}}</p>
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-12 col-xl-6">
			<p class="card-text"><span>Tipo:</span><br>{{item.type}}</p>
		</div>
	</div>
	<p class="card-text">
		<span>Localización:</span>
		<ul>
			{% for loc in item.location %}
				<li>{{loc}}</li>
			{% endfor %}
		</ul>
	</p>
	<p class="card-text"><span>Atributo especial:</span><br>{{ item.special if item.special!=null else 'Ninguno'}}</p>
{% endblock %}