{% extends "layouts/master.html" %}
{% set url = '/character' %}
{% block content %}
<div class="container char">
    <ul>
      <li id="name" value="{{sess.character_name}}">Nombre: {{sess.character_name}}</li>
      <li id="lvl">Nivel: {{sess.character_lvl}}</li>
      <li id="hp">Vida: {{sess.character_hp}}</li>
      <li id="attack">Ataque: {{sess.character_attack}}</li>
      <li id="defense">Defensa: {{sess.character_defense}}</li>
      <li id="speed">Velocidad: {{sess.character_speed}}</li>
    </ul>
    <button class="btn btn-danger" id="borrar">BORRAR PJ</button>

</div>
<script>
	$('#borrar').click(function(){
		var parameters = {name: $('#name').attr('value')};
		console.log("params: "+JSON.stringify(parameters));
		$.post( '/deleteselectedchar', parameters, function(data) {
      $.extend(
        {
            redirectPost: function(location, args)
            {
                var form = $('<form></form>');
                form.attr("method", "post");
                form.attr("action", location);

                $.each( args, function( key, value ) {
                    var field = $('<input></input>');

                    field.attr("type", "hidden");
                    field.attr("name", key);
                    field.attr("value", value);

                    form.append(field);
                });
                $(form).appendTo('body').submit();
            }
        });
      var redirect = '/';
      $.redirectPost(redirect);
		});
	});
</script>
{% endblock %}