{% extends "layouts/master.html" %}
{% set url = '/' %}
{% block content %}
  <div id="header" class="container-fluid">
    <img class="img-fluid" src="/static/img/header.jpg" alt="Header">
  </div>
  <div id="box" class="jumbotron">
    <div id="index" class="container">
      <h1>The Legend of Zelda</h1>
      <h2>Breath of the wild</h2>
      <div class="row">
        <div class="col-md-4">
          <img src="/static/img/objeto.png" alt="Objeto">
        </div>
        <div class="col-md-8">
          <p>Minions ipsum me want bananaaa! Baboiii pepete gelatooo po kass bappleees hahaha para tú butt. Poulet tikka masala poopayee para tú bappleees po kass bee do bee do bee do butt hana dul sae pepete pepete jiji. Butt aaaaaah poulet tikka masala uuuhhh jiji jiji tank yuuu! La bodaaa chasy butt jeje bappleees tatata bala tu poulet tikka masala aaaaaah poulet tikka masala uuuhhh chasy. Jiji tulaliloo belloo! Aaaaaah potatoooo. Baboiii butt baboiii po kass la bodaaa bananaaaa aaaaaah tatata bala tu hahaha. Tank yuuu! uuuhhh pepete pepete pepete baboiii. Bee do bee do bee do hahaha underweaaar hana dul sae. La bodaaa bappleees poopayee la bodaaa para tú tatata bala tu jeje bananaaaa.</p>

          <p>La bodaaa tatata bala tu daa butt bananaaaa bee do bee do bee do para tú baboiii jiji jiji. La bodaaa poopayee jiji underweaaar butt. Aaaaaah gelatooo uuuhhh hana dul sae aaaaaah tank yuuu! Wiiiii tank yuuu! Tank yuuu! potatoooo hana dul sae daa bappleees jiji poopayee bee do bee do bee do jiji. Butt tank yuuu! Chasy wiiiii potatoooo la bodaaa poulet tikka masala. Gelatooo jiji bananaaaa butt bananaaaa hahaha bee do bee do bee do gelatooo baboiii gelatooo. Baboiii potatoooo butt tulaliloo bappleees daa pepete. Poulet tikka masala pepete me want bananaaa! Belloo! Jiji potatoooo.</p>

          <p>Baboiii tulaliloo hahaha bappleees. Po kass wiiiii poopayee tatata bala tu tank yuuu! Potatoooo poopayee uuuhhh jiji tank yuuu! Uuuhhh tank yuuu! Potatoooo tank yuuu! Aaaaaah daa underweaaar. Para tú bananaaaa tatata bala tu tatata bala tu chasy para tú. Hana dul sae aaaaaah potatoooo po kass para tú hahaha jeje la bodaaa daa. Aaaaaah para tú chasy underweaaar wiiiii po kass tulaliloo tank yuuu! Baboiii chasy wiiiii. Me want bananaaa! tank yuuu! Ti aamoo! Para tú daa poulet tikka masala gelatooo poulet tikka masala la bodaaa potatoooo. Potatoooo baboiii aaaaaah bananaaaa bee do bee do bee do gelatooo.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}