{% extends "layouts/master.html" %} {% set url = '/' %} {% block content %}
<div id="header" class="container-fluid">
	<img class="img-fluid" src="http://placehold.it/1140x400" alt="Header">
</div>
<div id="box" class="jumbotron">
	<div id="index" class="container">
		<h1>WARBO</h1>
		<h2>War About Ridiculous and Boring Objects</h2>
		<div class="card-columns">
			<div class="card">
				<img class="card-img-top img-fluid" src="http://placehold.it/1140x400" alt="Card image cap">
				<div class="card-block">
					<h4 class="card-title">Construye tu base</h4>
					<p class="card-text">Personaliza tu guarida a tu gusto. Llénala de trampas para acabar con tus enemigos con facilidad.</p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top img-fluid" src="http://placehold.it/1140x400" alt="Card image cap">
				<div class="card-block">
					<h4 class="card-title">Lucha por lo que quieres</h4>
					<p class="card-text">¿Necesitas un nuevo objeto? Reta a alguien y quítaselo. Sabes que le darás mejor uso.</p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top img-fluid" src="http://placehold.it/1140x400" alt="Card image cap">
				<div class="card-block">
					<h4 class="card-title">Tu casa, tus reglas</h4>
					<p class="card-text">Tendrás ventaja si peleas en tu territorio. Dispondrás de todas tus trampas, pero tendrás que apostar más cantidad de objetos. Tú decides.</p>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
