{% extends "layouts/master.html" %}
{% set url = '/newcharacter' %}
{% block content %}
<div class="container char">
	<select name="samplechars" id="samplechars">
		{% for char in result %}
		<option value="{{char.id}}">{{char.name}}</option>
		{% endfor %}
	</select>
    <ul id="charstats"></ul>
    <input type="text" id="name" placeholder="Nombre del personaje" required="required">
    <button id="guardar" class="btn btn-success">Confirmar</button>
</div>

<script>
	window.onload = alCargar;

	function alCargar(){
        var parameters = {search: $('#samplechars').val()};
		$.post( '/loadsamplechars', parameters, function(data) {
			$('#charstats').empty();
			$('#charstats').append("<li id='hp' value='"+data.hp+"'>Vida: "+data.hp+"</li>");
			$('#charstats').append("<li id='attack' value='"+data.attack+"'>Ataque: "+data.attack+"</li>");
			$('#charstats').append("<li id='defense' value='"+data.defense+"'>Defensa: "+data.defense+"</li>");
			$('#charstats').append("<li id='speed' value='"+data.speed+"'>Velocidad: "+data.speed+"</li>");
		});
    }

	$("#samplechars").change(function(){
		var parameters = {search: $(this).val()};
		$.post( '/loadsamplechars', parameters, function(data) {
			$('#charstats').empty();
			$('#charstats').append("<li id='hp' value='"+data.hp+"'>Vida: "+data.hp+"</li>");
			$('#charstats').append("<li id='attack' value='"+data.attack+"'>Ataque: "+data.attack+"</li>");
			$('#charstats').append("<li id='defense' value='"+data.defense+"'>Defensa: "+data.defense+"</li>");
			$('#charstats').append("<li id='speed' value='"+data.speed+"'>Velocidad: "+data.speed+"</li>");
		});
	});

	$("#guardar").click(function(){
		var name = $("#name").val();
		if(name && name.search(/[^a-zA-Z0-9]+/) === -1) {
			var parameters = {name: name, hp: $("#hp").attr('value'), attack: $("#attack").attr('value'), defense: $("#defense").attr('value'), speed: $("#speed").attr('value')};
			$.post( '/saveselectedchar', parameters, function(){
				$.extend(
					{
					    redirectPost: function(location, args)
					    {
					        var form = $('<form></form>');
					        form.attr("method", "post");
					        form.attr("action", location);

					        $.each( args, function( key, value ) {
					            var field = $('<input></input>');

					            field.attr("type", "hidden");
					            field.attr("name", key);
					            field.attr("value", value);

					            form.append(field);
					        });
					        $(form).appendTo('body').submit();
					    }
					});
				var redirect = '/character';
				$.redirectPost(redirect, {charname: $("#name").val()});
			});
		}
		
	});
	
</script>
{% endblock %}